body {
    font-family: 'Roboto', sans-serif;
}
.container-wrapper {}


.container-wrapper--red {
    background-color: #f05f40;
    color: white;
}

.container-fluid{
    padding: 0px;
    width: 100%;
}
.callout-container {
    

    background: url("../image/hero-image.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
   
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 20px;
    padding-right: 20px;
}

/*navbar*/
.logo{
   
    color:greenyellow;
    font: Permanent Marker;
    
}
.navbar{
    margin-bottom: 0;
    width: 100%;
    background-color: #002a4e;
    border: 0;
    display:flex;
    
    padding-left: .25rem;
}


.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-family: inherit;
    font-weight: bold;
    font-size: 10px;
    
}

}

.navbar .navbar-nav a {
    font-weight: bold;
    
    
}
.ml-auto{
    margin-left: inherit;
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}


.btn--cta {
    font-weight: bold;
    border-radius: 15px;
    
    width: 120px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
    
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
    
}
a {color: white;
    }
    


#photo{
    clear: both;
    line-height: 0;
    column-count:3;
    column-gap: 0px;


}
#photo img {
    width:100%;
}

.content{
    background-color:aliceblue;
    margin: 0;
    text-align: left;
    padding: 30px;
    
}

/* Features */
.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}
.feature {
    text-align: left;
    margin-bottom: 40px;
    padding: 0px;
}
.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}


.form-control{
width:60%;
}


footer {
    background-color: #002a4e;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}
.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}

